body {
	padding-top: 40px;
}

.navbar-fixed-top a.brand {
  margin-left: -5px;
}

.thumbnails img {
	height: 200px;
}

.img-polaroid {
	max-width: 400px;
	float: left;
	margin-right: 40px;
}
