body {
	padding-top: 40px;
}

.navbar-fixed-top a.brand {
  margin-left: -5px;
}

.navbar-fixed-top li.cart sup {
  color: #fff;
  background-color: #ff0000;
  padding: 2px 4px;
  text-shadow: 0 1px 0 #000;
  margin-left: 1px;
  border-radius: 2px;
}

.thumbnails img {
	height: 200px;
}

.img-polaroid {
	max-width: 400px;
	float: left;
	margin-right: 40px;
}

#contact-form textarea {
  width: 450px;
  height: 150px;
}

#paypal-checkout-form {
  margin-top: -50px;
}