<FilesMatch "config.php">
    Order Allow,Deny
    Deny from all
</FilesMatch>

# Create friendly URLs for page records
RewriteEngine On
RewriteRule ^about$ /bucksphp/page.php?id=5 [L]
RewriteRule ^terms$ /bucksphp/page.php?id=4 [L]
RewriteRule ^privacy$ /bucksphp/page.php?id=6 [L]
RewriteRule ^shipping$ /bucksphp/page.php?id=2 [L]
RewriteRule ^returns$ /bucksphp/page.php?id=7 [L]